.bbc-note-box img {

	position: relative;
	left: -38px;
	top: -12px;
	cursor: pointer;

}

.bbc-note-box textarea {

	width: 200px;
	height: 200px;
	border-radius: 4px;
	border: 1px dashed #8c8c8c;
	padding: 8px;

}

.bbc-note-box {

	margin-bottom: 15px;
	display: inline-block;

}

.bbc-notes-header {

	font-size: 11px;
	border-bottom: 1px solid #E6E6E6;
	background-color: #f6f6f6;;
	padding: 6px 6px 9px 6px;

}

.bbc-note-box-wrapper {

	padding: 50px;

}

#post-side-notes-bbc-tab {

	border: 1px solid #E6E6E6;

}

#notes-space-left {

	display: inline-block;
	color: green;

}

.notes-space-left-warn {

	animation-duration: 1s;
	animation-name: animate_warning;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

}

@keyframes animate_warning {

	0% {
		color: green;
		transform: scale(1);
	}

	50% {
		color: red;
		transform: scale(2);
	}

	100% {
		color: green;
		transform: scale(1);
	}
}

.bbc-notes-header img {

	position: relative;
	top: 3px;

}

.bbc-note-box-over textarea {

	border-color: #8d0004;

}