.bbc-note-box img {

	position: relative;
	left: -38px;
	top: -12px;
	cursor: pointer;

}

.bbc-note-box textarea {

	width: 200px;
	height: 200px;
	border-radius: 4px;
	border: 1px dashed #8c8c8c;
	padding: 8px;

}

.bbc-note-box {

	margin-bottom: 15px;
	display: inline-block;

}

.bbc-notes-header {

	font-size: 11px;
	border-bottom: 1px solid #E6E6E6;
	background-color: #f6f6f6;;
	padding: 6px;
	display: flex;
	justify-content: space-between;

}

.bbc-note-box-wrapper {

	padding: 50px;

}

#post-notes-bbc-tab {

	border: 1px solid #E6E6E6;

}

#notes-space-left {

	display: inline-block;
	color: green;

}

.notes-space-left-warn {

	animation-duration: 1s;
	animation-name: animate_warning;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

}

@keyframes animate_warning {

	0% {
		color: green;
		transform: scale(1);
	}

	50% {
		color: red;
		transform: scale(2);
	}

	100% {
		color: green;
		transform: scale(1);
	}
}

.bbc-notes-header img {

	position: relative;
	top: 3px;

}

.bbc-note-box-over textarea {

	border-color: #8d0004;

}

article .post-notes {

	margin-left: 45px;
	margin-top: 50px;
	font-size: 11px;

}

article .post-notes ol {

	list-style-type: decimal;

}

article .post-notes ol.disc {

	list-style-type: disc;

}

article .post-notes ol.circle {

	list-style-type: circle;

}

article .post-notes ol.square {

	list-style-type: square;

}

article .post-notes ol.decimal-leading-zero {

	list-style-type: decimal-leading-zero;

}

article .post-notes ol.lower-roman {

	list-style-type: lower-roman;

}

article .post-notes ol.upper-roman {

	list-style-type: upper-roman;

}

article .post-notes ol.lower-greek {

	list-style-type: lower-greek;

}

article .post-notes ol.lower-alpha {

	list-style-type: lower-alpha;

}

article .post-notes ol.upper-alpha {

	list-style-type: upper-alpha;

}

article .post-notes ol li {

	margin-bottom: 7px;

}

.post-note-dialog {

	position: fixed;

}